/*Game Styles*/
#gameField{
    border:2px solid black;
}

.pixel{
    width: calc(44px - 4px);
    height: calc(44px - 4px);
    background-color: white;
    float:left;
}

.pixel_snake{
    background-color: black;
}

.food{
    background-color: #ec3c0a;
}