/*Game Styles*/
#gameCanvas{
    border:2px solid black;
}

.pixel{
    width: calc(40px - 4px);
    height: calc(40px - 4px);
    background-color: white;
    border:2px solid grey;
    float:left;
}

.pixel_snake{
    background-color: black;
    border:2px solid black;
}